@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');




/* Font Family [Raleway] */
.raleway {
    font-family: "Raleway", sans-serif;
}

/* Font Family [Inter] */
.inter{
    font-family: "Inter", sans-serif;
}


/* Manually Style */
tr > th{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
}
tr > td{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
}
tr > td > .btn{
    padding-left: 32px;
    padding-right: 32px;
}

tr > td > strong{
    padding-left: 24px;
    padding-right: 24px;
}